  </main>
    <footer>
      <div class="footer-logo">
        <a href="/">cloud</a></div>
      <div class="footer-links">
        <div class="footer-links-col">
          <a href="/menu">Menu</a>
          <a href="/visit">Visit</a>
        </div>
        <div class="footer-links-col">
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
        </div>
      </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>