<%- include("partials/header.ejs") %>

<section class="visit-section">
    <h2>Come Find Us</h2>
    <a class="visit-map-container" href="https://maps.app.goo.gl/WHzuBzSjREipV9e38" target="_blank" rel="noopener noreferrer">
        <img class="visit-map-img" src="/images/visit-map.webp" alt="store location on map">

        <img class="about-img-top-left" src="/masks/mobileaboutimgtopleftcloud.svg" alt="">
        <img class="about-img-top-right" src="/masks/mobileaboutimgtoprightcloud.svg" alt="">
        <img class="about-img-bottom-left" src="/masks/mobileaboutimgbottomleftcloud.svg" alt="">
        <img class="about-img-bottom-right" src="/masks/mobileaboutimgbottomrightcloud.svg" alt="">
        <img class="about-img-over-top-left" src="/masks/mobileaboutimgovercloud.svg" alt="">
        <img class="about-img-over-top-right" src="/masks/mobileaboutimgovercloud.svg" alt="">
        <img class="about-img-over-bottom-left" src="/masks/mobileaboutimgovercloud.svg" alt="">
        <img class="about-img-over-bottom-right" src="/masks/mobileaboutimgovercloud.svg" alt="">
    </a>
    <div class="visit-info">
        <div class="visit-info-row">
            <div class="visit-info-cloud">
                <img src="masks/mobilevisitinfocloud.svg" alt="">
                <h4>Address</h4>
            </div>
            <p class="visit-info-text">Hurghada, Kawthar — Metro St. In front of the Egyptian Hospital</p>
        </div>
        <div class="visit-info-row">
            <div class="visit-info-cloud">
                <img src="masks/mobilevisitinfocloud.svg" alt="">
                <h4>Opening Hours</h4>
            </div>
            <p class="visit-info-text">Saturday – Thursday · 10:00 AM – 12:00 AM Friday · 1:00 PM – 12:00 AM</p>
        </div>
        <div class="visit-info-row">
            <div class="visit-info-cloud">
                <img src="masks/mobilevisitinfocloud.svg" alt="">
                <h4>Phone</h4>
            </div>
            <p class="visit-info-text">+20 123 456 7890</p>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>